@page
@model ApprenticeTipsSoftware.Pages.ContactPageModel
@{
}


<p><strong>Please enter your details and we'll be in touch</strong></p>


<form method="post">


    <div class="row">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <p>First name:</p>
        </div>
        <input type="text" asp-for="FirstName" />
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <p>Surname:</p>
        </div>
        <input type="text" asp-for="Surname" />
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <p>Email:</p>
        </div>
        <input type="text" asp-for="EmailAddress" />
    </div>

    <div class="row mb-2">
        <div class="col-2">
            <p>Contact Number:</p>
        </div>
        <input type="text" asp-for="ContactNumber" />
    </div>

    <div class="row mb-2">

        <div class="col-2">
            <p>
                Level of previous qualification:
            </p>
        </div>

        <select asp-for="Qualification" style="width: 185px; height: 40px;">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
        </select>

        <br />

    </div>

    <p><strong>Please select the routes that interest you:</strong></p>

    <input asp-for="Agriculture" /> Agriculture, environmental and animal care<br />
    <input asp-for="Business" /> Business and administration<br />
    <input asp-for="Care" /> Care services<br />
    <input asp-for="Catering" />Catering and hospitality<br />
    <input asp-for="Construction" /> Construction<br />
    <input asp-for="Creative" />Creative and design<br />
    <input asp-for="Digital" />Digital<br />
    <input asp-for="Education" />Education and childcare<br />
    <input asp-for="Engineering" />Engineering and manufacturing<br />
    <input asp-for="Hair" />Hair and beauty<br />
    <input asp-for="Health" />Health and science<br />
    <input asp-for="Legal" />Legal, finance and accounting<br />
    <input asp-for="Protective" />Protective services<br />
    <input asp-for="Sales" />Sales, marketing and procurement<br />
    <input asp-for="Transport" />Transport and logistics<br />
  
    <br />

    <div class="row">
        <div class="col-6">
            <textarea name="Comment" rows="2" cols="20" style="height:80px;width:50%;" placeholder="Please provide any other information that you wish to let our recruiters know... (optional)"></textarea>
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-2"><input type="submit" value="Submit Message" /></div>
        <div><input type="submit" asp-page-handler="GoBack" value="Back" class="float-right"></div>
    </div>

</form>
